
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">RITESH Music</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Live</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Music</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Charts</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Features
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-2">
        <input #start placeholder="Search" type="text"class="form-control mr-sm-2">
        <button type="button" (click)="searchApi(start.value)"routerLink="/search" routerLinkActive="active"class="btn btn-success">Search</button>
      </form>
    </div>
</nav>



<div class="jumbotron">
        <div class="card" style="width: 18rem;">
                <img [src]="fetchedDetails[0].artist.image[1]['#text']" class="card-img-top" alt="Image Is Not Available In Server"> 
                <div class="card-body">
                  <h5 class="card-title">Name :-{{fetchedDetails[0].artist.name}}</h5>
                  <p class="card-text">Listeners :-{{fetchedDetails[0].artist.stats.listeners}}</p>
                  <p class="card-text">PlayCount :-{{fetchedDetails[0].artist.stats.playcount}}</p>
                  <br>
                </div>
        </div>
        <div class="side-to-card">
            <h4>Content :-</h4> {{fetchedDetails[0].artist.bio.content | slice:0:980}}
            <br><br>
            <h4>Published :-</h4> {{fetchedDetails[0].artist.bio.published | slice:0:50}}
            <br><br>
            <h4>Summary :-</h4><p> {{fetchedDetails[0].artist.bio.summary | slice:0:700}}</p>

        </div>
</div>

<div class="divBelowJumbo">
    <h3><i class="fas fa-heart"></i></h3>
    <h3><i class="fas fa-heart"></i></h3>
    <h3><i class="fas fa-heart"></i></h3>
    <button (click)="AddToFavs(fetchedDetails[0].artist.name)"routerLink="/favourites" routerLinkActive="active"class="btn btn-success">Add To Favorites</button>
    <h3><i class="fas fa-heart inend"></i></h3>
    <h3><i class="fas fa-heart inend"></i></h3>
    <h3><i class="fas fa-heart inend"></i></h3>
</div>

<!-- http://localhost:3000/posts/1 -->

