
<!-- 
<div  class="TopRepeat" >
    <div class="card" *ngFor="let x of SearchResults" style="width: 12rem;">
        <img [src]="x.image[1]['#text']" class="card-img-top" alt="..."> 
        <div class="card-body">   
        <h5 class="card-title">{{x.name}}</h5>
        <p class="card-text">{{x.aritst}} | {{x.listeners}}</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>

    </div>
</div>
 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <style>
  body {
      position: relative; 
  }
  </style>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">  
    <a class="navbar-brand" href="#">RITESH Music</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
<div class="collapse navbar-collapse" id="navbarSupportedContent">  
    <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
      <a class="nav-link" href="#section1">Section 1 <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section2">Section 2</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#section3">Section 3</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#section4">Section 4</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#section5">Section 5</a>
    </li>

  </ul>
  <form class="form-inline my-2 my-lg-2">
    <input #start placeholder="Search" type="text"class="form-control mr-sm-2">
    <button (click)="searchApi(start.value)"routerLink="/search" routerLinkActive="active"class="btn btn-success">Search</button>
  </form>
  </div>
</nav>

<div [id]="section1" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px;margin-top: 30px;">
    <div  class="TopRepeat" >
        <div class="card" *ngFor="let x of SearchResults.slice(0, 6)" style="width: 12rem;">
            <img [src]="x.image[1]['#text']" class="card-img-top" alt="Image Is Not Available In Server"> 
            <div class="card-body">   
            <h5 class="card-title">Name: {{x.name}}</h5>
            <p class="card-text">Artist: {{x.artist}} </p>
            <p class="card-text">Listeners: {{x.listeners}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    
        </div>
    </div>
</div>
<div [id]="section2" class="container-fluid bg-warning" style="padding-top:70px;padding-bottom:70px">
    <div  class="TopRepeat" >
        <div class="card" *ngFor="let x of SearchResults.slice(6, 12)" style="width: 12rem;">
            <img [src]="x.image[1]['#text']" class="card-img-top" alt="Image Is Not Available In Server"> 
            <div class="card-body">   
            <h5 class="card-title">Name: {{x.name}}</h5>
            <p class="card-text">Artist: {{x.artist}} | Listeners: {{x.listeners}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    
        </div>
    </div>
</div>
<div [id]="section3" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
    <div  class="TopRepeat" >
        <div class="card" *ngFor="let x of SearchResults.slice(12, 18)" style="width: 12rem;">
            <img [src]="x.image[1]['#text']" class="card-img-top" alt="Image Is Not Available In Server"> 
            <div class="card-body">   
            <h5 class="card-title">Name: {{x.name}}</h5>
            <p class="card-text">Artist: {{x.artist}} | Listeners: {{x.listeners}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    
        </div>
    </div>
</div>
<div [id]="section4" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
    <div  class="TopRepeat" >
        <div class="card" *ngFor="let x of SearchResults.slice(18, 24)" style="width: 12rem;">
            <img [src]="x.image[1]['#text']" class="card-img-top" alt="Image Is Not Available In Server"> 
            <div class="card-body">   
            <h5 class="card-title">Name: {{x.name}}</h5>
            <p class="card-text">Artist: {{x.artist}} | Listeners: {{x.listeners}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    
        </div>
    </div>
  </div>
  <div [id]="section5" class="container-fluid bg-secondary" style="padding-top:70px;padding-bottom:70px">
    <div  class="TopRepeat" >
        <div class="card" *ngFor="let x of SearchResults.slice(24, 30)" style="width: 12rem;">
            <img [src]="x.image[1]['#text']" class="card-img-top" alt="Image Is Not Available In Server"> 
            <div class="card-body">   
            <h5 class="card-title">Name: {{x.name}}</h5>
            <p class="card-text">Artist: {{x.artist}} | Listeners: {{x.listeners}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
    
        </div>
    </div>
  </div>

</body>
</html>
